<title>Doof Spoofer</title>

<script type="text/javascript" src="/scripts/main.min.js"></script>

<link rel="stylesheet" type="text/css" href="/styles/main.min.css" />
<link rel="stylesheet" type="text/css" href="/vendor/font-awesome-4.7.0/css/font-awesome.min.css" />
