@import "fonts",
        "colors",
        "variables";

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background-color: $color-bg;
  color: $color-text;
}

.content {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-around;

  align-items: center;

  @media all and (orientation:landscape) {
    flex-direction: row;
  }

  @media all and (orientation:portrait) {
    flex-direction: column;
  }

  .title {
    font-size: $font-size-title;
    text-align: center;
    flex-basis: 50%;
  }

  .spotlight {

    height: 100%;
    width: 100%;
    text-align: center;
    font-size: $font-size-title;

    // Flexbox
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 25%;

    // Responsive
    @media all and (orientation:landscape) {
      flex-direction: column;
    }

    @media all and (orientation:portrait) {
      flex-direction: row;
    }
  }
}
