<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="content">
    <div class="title">
      <%= name %>
    </div>
    <div class="spotlight">
      <% links.forEach(function(link) { %>
        <a href='<%= link.url %>' target="_blank">
          <!--<%= link.name %>-->
          <i class='<%= link.icon %>' aria-hidden="true"></i>
        </a>
      <% }); %>
    </div>
  </div>
</body>
</html>
